@tailwind base;
@tailwind components;
@tailwind utilities;

.containerApp {
  background: rgb(211, 148, 252);
  background: linear-gradient(
    34deg,
    rgba(211, 148, 252, 1) 3%,
    rgba(240, 171, 252, 1) 31%,
    rgba(211, 148, 252, 1) 73%,
    rgba(232, 164, 252, 1) 100%
  );
}

@media only screen and (min-width: 768px) {
  .listTasks {
    width: 40vw;
  }
  .textTodo {
    margin: 0 5px 0 -90px;
  }
  .btn {
    margin-left: 70px;
  }
}
